<omz-background-card>
  <!-- USER CARD -->
  <omz-user-card userName="Moritz"></omz-user-card>

  <!-- NAV BUTTONS -->
  <omz-navigation-button title="Exercises" icon="trophy" url="exercises"></omz-navigation-button>
  <omz-navigation-button title="Workout" icon="play" url="workout-list"></omz-navigation-button>
  <omz-navigation-button title="Stats" icon="chart-bar" url="stats"></omz-navigation-button>
  <omz-navigation-button title="Settings" icon="cog" url="settings"></omz-navigation-button>

  <!-- ADD BUTTON -->
  <omz-floating-icon-button iconType="plus" size="large" [hoverEnabled]="true" action="add"></omz-floating-icon-button>
</omz-background-card>
