<omz-background-card>
  <omz-page-header pageTitle="Exercises"></omz-page-header>

  <!-- BACK, BI & CORE-->
  <omz-exercise-category category="Back" color="blue"></omz-exercise-category>
  <omz-exercise-category category="Biceps" color="blue"></omz-exercise-category>
  <omz-exercise-category category="Core" color="blue"></omz-exercise-category>

  <!-- CHEST, SHOULDERS & TRICEPS --->
  <omz-exercise-category category="Chest" color="yellow"></omz-exercise-category>
  <omz-exercise-category category="Shoulders" color="yellow"></omz-exercise-category>
  <omz-exercise-category category="Triceps" color="yellow"></omz-exercise-category>

  <!-- BOOTY & LEGS --->
  <omz-exercise-category category="Booty" color="green"></omz-exercise-category>
  <omz-exercise-category category="Legs" color="green"></omz-exercise-category>

  <!-- OTHERS -->
  <omz-exercise-category category="Others" color="purple"></omz-exercise-category>
</omz-background-card>
